/* Google Fonts Info
Raleway for Nav: font-family: 'Raleway', sans-serif;
EB Garamond for Header: font-family: 'EB Garamond', serif;
Varta for standard: font-family: 'Varta', sans-serif;
*/

/*---- Global/Body ----*/
body{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: [nav-start] 10vh [nav-end head-start] 15vh [head-end main-start] 65vh [main-end footer-start] 10vh [footer-end];
    background-color: #a8f8be;
    font-family: 'Varta', sans-serif;
    color: #313131;
    margin: 0;
    padding: 0;
}

/*---- Multi/DRY ----*/
nav,footer{
    background-color: #0e6b5b;
    margin: 0;
    padding: 0;
}

/*---- Nav ----*/
nav{
    grid-area: nav-start / 1 / nav-end / 6;
}
nav ul{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10vw 0 0;
    padding: 0;
    place-items: center center;
}
nav ul li{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    list-style: none;
}
nav ul li a:link, nav ul li a:visited{
    color:#c4e6df;
    text-decoration: none;
}
nav ul li a:hover{
    color: #2f9f8c;
    text-decoration: underline;
}
#logo{
    width: 12vw;
    margin:2vw;
    border-radius: 15%;
    max-width: 50px;
}

/*---- Header ----*/
header{
    grid-area: head-start / 1 / head-end / 6;
    display: flex;
    justify-content: space-around;
    background-color: #0f7f6c;
    font-family: 'EB Garamond', serif;
    color: #c4e6df;
    margin: 0;
    padding: 0;
    border-radius: 0 0 1em 1em;
    border-top-style: dashed;
}
header h1{
    align-self: center;
    letter-spacing: 0.3rem;
    font-weight: 900;
    margin: 0;
    text-align: center;
}

/*---- Main ----*/
main{
    grid-area: main-start / 1 / main-end / 6;
    overflow-y: scroll;
}

/*---- Articles/Sections ----*/
article{
    margin: 0 7.5vw;
}
article p{
    letter-spacing: 0.05rem;
}

/*---- Footer ----*/
footer{
    grid-area: footer-start / 1 / footer-end / 6;
    font-size: 0.75rem;
    color: #c4e6df;
    text-align: center;
}

@media screen and (min-width: 376px){
    /* To fill in later*/
}

@media screen and (min-width: 1281px){
    /* To fill in later*/
}