/* Google Fonts Info
Raleway for Nav: font-family: 'Raleway', sans-serif;
EB Garamond for Header: font-family: 'EB Garamond', serif;
Varta for standard: font-family: 'Varta', sans-serif;
*/

body{
    display: grid;
    background-color: #a8f8be;
    font-family: 'Varta', sans-serif;
    color: #313131;
    margin: 0;
    padding: 0;
}
#logo{
    width: 12vw;
    margin:2vw;
    border-radius: 15%;
}

/*---- Multi/DRY ----*/
nav,footer{
    background-color: #0e6b5b;
    margin: 0;
    padding: 0;
}

/*---- Nav ----*/
nav ul{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10vw 0 0;
    padding: 0;
    place-items: center center;
}
nav ul li{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    list-style: none;
}
nav ul li a:link, nav ul li a:visited{
    color:#c4e6df;
    text-decoration: none;
}
nav ul li a:hover{
    color: #2f9f8c;
    text-decoration: underline;
}

/*---- Header ----*/
header{
    background-color: #0f7f6c;
    font-family: 'EB Garamond', serif;
    color: #c4e6df;
    margin: 0;
    padding: 0;
}
header h1{
    letter-spacing: 0.3rem;
    font-weight: 900;
    display: grid;
    margin: 0;
    padding: 10px 0;
    place-items: center center;
}

/*---- Articles/Sections ----*/
article{
    margin: 0 7.5vw;
}
article p{
    letter-spacing: 0.05rem;
}

/*---- Footer ----*/
footer{
    font-size: 0.75rem;
    color: #c4e6df;
    text-align: center;
}

@media screen and (min-width: 376px){
    /* To fill in later*/
}

@media screen and (min-width: 1281px){
    /* To fill in later*/
}